datasets/*
CGAL/*.txt
converter
**/a.out
PostGis/SFCGAL-1.0/*
PostGis/Instaladores/*
matheusaguilar/*
PostGis/sigspatial2019/*
k40.sh
Documentos Funarbic/*
sources_backup
PostGis/Segments vs Triangles/Dataset - Marcelo/*
Meshes/*
Pinmesh/*
