datasets/*
CGAL/*.txt
converter
**/a.out
PostGis/SFCGAL-1.0/*
PostGis/Instaladores/*
matheusaguilar/*
PostGis/sigspatial2019/*
PostGis/Segments vs Triangles/geological_shapes.in
PostGis/Segments vs Triangles/triangles.in
PostGis/Segments vs Triangles/*.sql
